/*-------- Custom Checkbox Style start --------*/
.custom-checkbox,
.custom-radio {

    &.custom-control {
        min-height: auto;
        margin-left: 1.5rem;
    }

    // label,
    .custom-control-label {
        font-size: 14px;
        line-height: 1;
        padding-left: 10px;
        font-weight: 400;
        display: block;
        cursor: pointer;
        position: relative;

        &:before {
            background-color: transparent;
            border: 1px solid #ddd;
            border-radius: 0;
            height: 15px;
            top: 0;
            width: 15px;
            content: '';
            position: absolute;
            left: -1.5rem;
        }

        &:after {
            background-size: 10px 10px;
            height: 15px;
            top: 0;
            content: '';
            position: absolute;
            left: -1.5rem;
        }

        a {
            color: $black-soft;
            font-weight: 500;

            &:hover {
                color: $theme-color;
            }
        }
    }

    input,
    .custom-control-input {
        outline: none;
        display: none;

        &:focus {

            ~.custom-control-label,
            label {
                &:before {
                    box-shadow: none;
                }
            }
        }

        &:checked {

            ~.custom-control-label,
            label {
                &:before {
                    background-color: $theme-color;
                    border-color: $theme-color;
                }
            }
        }
    }
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    width: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

/*-------- Custom Checkbox Style end --------*/

/*------- Custom Radio Button Style start -------*/
.custom-radio {

    label,
    .custom-control-label {
        &:before {
            border-radius: 50%;
            height: 14px;
            width: 14px;
        }

        &::after {
            background-size: 10px 10px;
            left: -22px;
            top: 2px;
            height: 10px;
            width: 10px;
        }
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*------- Custom Radio Button Style end -------*/

/*------- common style css start -------*/
.bg-gray {
    background-color: #f3f5f6;
}
.black-bg {
    background-color: #222222;
}

/*----- product tab menu start -----*/
.featured-area {
    @media #{$sm-device} {
        padding-top: 68px;
    }
}
.product-tab-menu {
    ul {
        li {
            margin-right: 35px;
            // responsive
            @media #{$xxs-device} {
                margin-right: 15px;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.2;
                color: $paragraph-light; 
                &:hover,
                &.active {
                    color: $black-soft;
                }
            }
        }
    }
}

// tab animation
.tab-content {
    .tab-pane {
        &.show {
            &.active {
                .product-item {
                    animation-name: zoomIn;
                    animation-duration: 1s;
                }
            }
        }
    } 
}

/*----- product tab menu start -----*/

/*----- brand logo style start -----*/
.brand-logo-carousel {
    padding: 30px 0;
    border-top: 1px solid $bdr-color;
    border-bottom: 1px solid $bdr-color;
}
.brand-item {
    img {
        margin: auto;
    }
}
/*----- brand logo style end -----*/

/*------ special product style start ------*/
.special-product-thumb {
    @media #{$md-device} {
        margin-top: 3px;
    }
}
.special {
    &-content {
        padding-right: 40px;
        // responsive
        @media #{$md-device, $sm-device} {
            padding-top: 43px;
            padding-right: 0;
        }
        .price {
            &-old {
                font-size: 18px;
                color: $paragraph;
                padding-right: 5px;
            }
            &-regular {
                font-size: 24px;
                color: $theme-color;
            }
        }
        p {
            color: $paragraph-light;
            padding-top: 22px;
            margin-bottom: 35px;
            // responsive
            @media #{$sm-device} {
                margin-bottom: 25px;
            }
        }
    }
    &-title {
        font-weight: 700;
        padding-bottom: 22px;
        // responsive
        @media #{$sm-device} {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 10px;
        }
    }
}
/*------ special product style end ------*/

/*------- common style css end -------*/